<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"></properties>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
<!--        //开启关联对象延迟加载 粗粒度 默认false 会被细粒度覆盖  细粒度看xml映射文件-->
        <setting name="lazyLoadingEnabled" value="true"/>
<!--        如果该属性的值为true那么配置的所有延迟加载都会失效-->
        <setting name="aggressiveLazyLoading" value="false"/>
<!--        开启全局缓存，默认false-->
        <setting name="cacheEnabled" value="true" />
    </settings>
    <typeAliases>
        <package name="com.example.entity"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="EmpMapper.xml"></mapper>
        <mapper resource="DeptMapper.xml"></mapper>
    </mappers>
</configuration>